#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  padding: 1rem;
  h1 {
    font-size: 3.2rem;
    line-height: 1.1;
    height: 3rem;
    will-change: filter;
    transition: filter 300ms;
    margin: 0;
  }

  #mainLogo {
    background: url("/logo-white.png") transparent left center / contain no-repeat;
    padding: 0 0 1rem calc(1em + 1.5rem);

    @media (prefers-color-scheme: light) {
      background-image: url("/logo-black.png");
    }
  }
}

.card {
  padding: 2em;
}
